.center {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.flex {
  display: flex;
}
.ant-drawer-body {
  padding: 0 !important;
  width: 100%;
  height: 100vh;
}
